<fieldset class="field">
    <label>{{name}}</label>
{% if optional %}
<span class="optional">(optional)</span>
{% endif %}
<strong class="type">
    {% match typ %}
        {% when FieldType::Primitive with (primitive) %}
            {{ FieldType::definition(typ)|safe }}
        {% when FieldType::Symbol with (link) %}
            {{link|safe}}
        {% else %}
           @todo match unimplemented type
    {% endmatch %}
</strong>

    {% if let Some(meta) = meta %}
    {% if let Some(comment) = meta.leading_comments %}
    <em>{{comment}}</em>
    {% endif %}
    {% endif %}
</fieldset>
