<fieldset class="message" id="{{Self::href_id(self)}}">
    <label>{{name}}</label>
    {% if let Some(meta) = meta %}
    {% if let Some(comment) = meta.leading_comments %}
    <em>{{comment}}</em>
    {% endif %}
    {% endif %}

    {% for field in fields %}
    {% match field %}
        {% when Field::Simple with (simple_field) %}
            {{ simple_field|safe }}
        {% when Field::OneOf with (oneof) %}
            {{ oneof|safe }}
    {% endmatch %}
    {% endfor %}

    {% for message in nested_message %}
    {{ message|safe }}
    {% endfor %}

    {% for enum in nested_enum %}
    {{ enum|safe }}
    {% endfor %}
</fieldset>
