<fieldset class="field" id="{{self_link.id()}}">
    {{comments|safe}}
    <label>
        {% if deprecated %}
        <s>{{ name }}</s>
        {% else %}
        <span>{{ name }}</span>
        {% endif %}
    </label>
<span class="type">
{% if optional %}
<span class="optional keyword">optional</span>
{% endif %}
    {% match typ %}
        {% when FieldType::Primitive with (primitive) %}
            {{ FieldType::definition(typ)|safe }}
        {% when FieldType::Symbol with (link) %}
            {{link|safe}}
        {% else %}
           @todo match unimplemented type
    {% endmatch %}
</span>

</fieldset>
