<fieldset class="message" id="{{self_link.id()}}">
    {{comments|safe}}
    {{ backlinks|safe }}
    {% if let Some(src) = source %}{{src|safe}}{% endif %}
    <label>
        {% if deprecated %}
        <s>{{ name }}</s>
        {% else %}
        <span>{{ name }}</span>
        {% endif %}
    </label>

    {% for field in fields %}
    {% match field %}
        {% when Field::Simple with (simple_field) %}
            {{ simple_field|safe }}
        {% when Field::OneOf with (oneof) %}
            {{ oneof|safe }}
    {% endmatch %}
    {% endfor %}

    {% for message in nested_message %}
    {{ message|safe }}
    {% endfor %}

    {% for enum in nested_enum %}
    {{ enum|safe }}
    {% endfor %}
</fieldset>
