<fieldset class="method" id="{{self_link.id()}}">
    {{comments|safe}}
    {{ backlinks|safe }}
    {% if let Some(src) = source %}{{src|safe}}{% endif %}
    <label class="{% if deprecated %}deprecated{% endif %}">
        <span class="name">{{ name }}</span>
        <span class="request">({%if request_stream %}<span class="keyword">stream&nbsp;</span>{%endif%}{{request_message|safe}})</span>
        <span class="keyword">returns</span>
        <span class="response">({%if response_stream %}<span class="keyword">stream&nbsp;</span>{%endif%}{{response_message|safe}})</span>
    </label>
</fieldset>
